<section class="mt-4">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-12 mb-2">
            <!--Generator-->
            <div class="card mb-3 wow fadeIn">
                <div class="card-header bg-success text-white font-weight-bold">Generator</div>
                <div class="card-body">
                    <!-- Default form reply -->
                    <form id="formgenerator" method="post" action="/crud">
                        <div class="form-group">
                            <label for="table">Module Name</label>
                            <select name="table" id="table" class="form-control">
                                <option value="">Please Select</option>
                                <% for(var key in rows) {
                                    var row = rows[key];
                                    var selected = row.table == table ? " selected " : "";
                                if(row.table != 'zrole') {
                                %>
                                <option value="<%= row.table %>" <%= selected %> ><%= row.table %></option>
                                <% }} %>
                            </select>
                        </div>

                        <% if(table) {%>
                        <div class="form-group">
                            <label for="route">Title</label>
                            <input type="text" class="form-control" id="title" name="title" value="<%- datas.name%>" />
                        </div>
                        <div class="form-group">
                            <label for="route">Route</label>
                            <input type="text" class="form-control" readonly id="route" name="route" value="<%- route%>" />
                        </div>

                            <!-- Default checkbox -->
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" <%- checkDummy %> name="json[dummy]" id="dummy" />
                                <label class="form-check-label" for="flexCheckDefault">As Dummy</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="route">Tabs</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="tabname" placeholder="Enter tab name" aria-label="Enter tab name" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-md btn-secondary m-0 px-3" type="button" id="add"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div id="tabs"></div>
                        <%} %>

                        <%if(lock==0) {%>
                        <div class="text-center mt-4">
                            <% if(table) {%>
                            <button class="btn btn-danger text-white" id="delete_module"  type="button"><i class="fa fa-trash"></i> Delete Module</button>
                            <%}%>
                            <button class="btn btn-success text-white"  data-toggle="modal" data-target="#add_table" type="button"><i class="fa fa-plus"></i> Add Module</button>
                            <% if(table) {%>
                                    <button class="btn btn-info" id="savetab" type="button"><i class="fa fa-paper-plane"></i> Save</button>
                                    <a class="btn btn-warning " href="/<%- table%>" target="__blank" type="button"><i class="fa fa-plane"></i> Go To <%- table%></a>
                            <%}%>
                        </div>
                        <%} else {%>
                            <button class="btn btn-danger text-white"   type="button"><i class="fa fa-warning"></i> This table has been locked!!!</button>

                        <%} %>
                    </form>
                    <!-- Default form reply -->
                </div>
            </div>
            <!--Generator-->
            <div class="card mb-3 wow fadeIn" id="divfields" style="display: none">
                <div class="card-header secondary-color-dark text-white font-weight-bold">Fields</div>
                <div class="card-body">

                    <!-- Default form reply -->
                    <form id="formfields" method="post" action="/generator/fields">
                        <div id="divtablist" class="row"></div>
                        <div id="contentfields"></div>


                        <% if(lock == 0) {%>
                        <div class="text-center mt-4">
                            <button class="btn btn-danger btn-reset text-white mr-2"  type="button"><i class="fas fa-drum"></i> Reset </button>
<!--                            <button class="btn m-0 px-3 btn-generate-assets btn-amber mr-2" type="button"><i class="fas fa-coins"></i> Generate Assets</button>
                            <button class="btn m-0 px-3 btn-minify mr-2" type="button"><i class="fab fa-audible"></i> Minify all Views</button>-->
                            <!-- Basic dropdown -->
                            <button class="btn btn-primary dropdown-toggle  mr-2" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-columns"></i> Layout <%- sorting%></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item layout21" href="#">2 : 1</a>
                                <a class="dropdown-item layout12" href="#">1 : 2</a>
                            </div>
                            <!-- Basic dropdown -->
<!--
                            <button class="btn m-0 px-3 btn-test" type="button"><i class="fa fa-plus"></i> Test</button>
-->
                            <button class="btn m-0 px-3 waves-effect waves-light mr-2" data-toggle="modal" data-target="#modal_container"  type="button"><i class="fa fa-plus"></i> Add Container</button>
                            <button class="btn btn-success  px-3  text-white mr-2" data-toggle="modal" data-target="#modal_add_field"  type="button"><i class="fa fa-plus"></i> Add Field</button>
                            <button class="btn secondary-color-dark  px-3  text-white mr-2" id="save" type="button"><i class="fa fa-paper-plane"></i> Save & Generate</button>
                        </div>
                        <%}%>
                    </form>
                    <!-- Default form reply -->
                </div>
            </div>
            <!--/Generator-->




            <!-- Card -->
            <div class="card mb-4 wow fadeIn card-script" style="display: none">
                <div class="card-header font-weight-bold">
                    <span> Files Content</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Files Generator  <span class="badge badge-danger"><small>Using EJS template engine, Let it blank</small></span></h5>

                    <hr>

                    <ul class="nav nav-tabs" id="tabfiles" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active"  data-toggle="tab" href="#tabrouter" role="tab" aria-controls="router"
                               aria-selected="true">Router</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link "  data-toggle="tab" href="#tabindex" role="tab" aria-controls="index"
                               aria-selected="true">Index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  data-toggle="tab" href="#tabform" role="tab" aria-controls="form"
                               aria-selected="false">Form</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  data-toggle="tab" href="#tabview" role="tab" aria-controls="view"
                               aria-selected="false">View</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="mytabfiles">
                        <div class="tab-pane fade show active" id="tabrouter" role="tabpanel" aria-labelledby="tab-router">
                            <br>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group ">
                                        <label for="javascript">Router</label>
                                        <div class="ide_editor" id="router"><%- datas.router%></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="tabindex" role="tabpanel" aria-labelledby="index-tab">
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label for="index.ejs">index.ejs</label>
                                        <div class="ide_editor" id="index_ejs"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label for="indexcss_ejs">indexcss.ejs</label>
                                        <div class="ide_editor_200" id="indexcss_ejs"><%- datas.indexcss_ejs%></div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="indexjs_ejs">indexjs.ejs</label>
                                        <div class="ide_editor_200" id="indexjs_ejs"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="tabform" role="tabpanel" aria-labelledby="form-tab">
                            <br>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label for="form.ejs">_form.ejs</label>
                                        <div class="ide_editor" id="form_ejs"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label for="create_ejs">create.ejs</label>
                                        <div class="ide_editor_200" id="create_ejs"></div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="createjs_ejs">createjs.ejs</label>
                                        <div class="ide_editor_200" id="createjs_ejs"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label for="update_ejs">update.ejs</label>
                                        <div class="ide_editor_200" id="update_ejs"></div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="updatejs_ejs">updatejs.ejs</label>
                                        <div class="ide_editor_200" id="updatejs_ejs"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label for="import_ejs">import.ejs</label>
                                        <div class="ide_editor_200" id="import_ejs"></div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="importjs_ejs">importjs.ejs</label>
                                        <div class="ide_editor_200" id="importjs_ejs"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="tabview" role="tabpanel" aria-labelledby="view-tab">
                            <br>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group ">
                                        <label for="view_ejs">view.ejs</label>
                                        <div class="ide_editor" id="view_ejs"></div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Card-->
            <div class="card mb-4 wow fadeIn card-script" style="display: none">
                <div class="card-header font-weight-bold">
                    <span>Additional Settings</span>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Hard Code</h5>
                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="javascript">Grid / List <span class="badge badge-danger">Please do not remove this</span></label>
                                    <div class="ide_editor_200" id="hardcode_grid"><%= datas.hardcode_grid || ""%></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <% if(zForms.obj.hasOwnProperty("is_approval")) {%>
                            <label for="approval">Approval Systems</label>
                            <!-- Default checked -->
                            <%- zForms.build["is_approval"] %>
                            <div class="divzapprovals" <%- approvalDatas.is_approval ? '' : 'style="display: none"' %> >
                                <%- zForms.build["template"] %>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group divTitle mb-3">
                                            <label>Title</label>
                                            <input type="text" class="form-control" id="approval_title" name="approval_title" value="<%- approvalDatas.title %>">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <%- zForms.build["type"] %>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <%- zForms.build["approvers"] %>
                                        <%- zForms.build["knowings"] %>
                                    </div>
                                </div>
                            </div>
                                <%}%>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->
    </div>
    <!--Grid row-->
</section>
<!--Section: Post-->




<!-- Modal -->
<div class="modal fade" id="add_table" tabindex="-1" aria-labelledby="add_table" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i> </button>
            </div>
            <div class="modal-body">
                <form id="modal-form" method="post" action="/generator">
                    <div class="form-group">
                        <label for="table">Module Name</label>
                        <input type="text" class="form-control" id="modal-table" name="table"/>
                    </div>

                    <div class="form-group">
                        <label for="route">Route</label>
                        <input type="text" class="form-control" id="modal-route" name="route"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" id="modal-save" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_add_field" tabindex="-1" aria-labelledby="add_table" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Add Field</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i> </button>
            </div>
            <div class="modal-body">

                <form id="modal-form" method="post" action="/<%- routeName%>">
                    <div class="form-group">
                        <label for="table">Name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select id="modal_position" class="form-control">
                                    <option value="LEFT">Left</option>
                                    <option value="RIGHT">Right</option>
                                    <option value="ONE_COLUMN">One Column</option>
                                </select>
                            </div>
                            <input type="text" class="form-control" id="modal_name" placeholder="Field Name" name="name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="route">Type</label>
                        <select class="form-control" id="modal_type">
                            <% for(var key in selects){%>
                                <option value="<%- key%>"><%- selects[key]%></option>
                            <%}%>
                        </select>
                    </div>

                    <div class="row divrelation" style="display:none">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="route">Module Name</label>
                                <select class="form-control" id="relationtable"></select>
                            </div>
                        </div>

                        <div class="col-md-6 divrelationfield">
                            <div class="form-group ">
                                <label for="route">Label</label>
                                <select class="form-control" id="relationfield"></select>
                            </div>
                        </div>

                        <div class="col-md-12 divconcat">
                            <div class="form-group ">
                                <label for="route">Concat</label>
                                <input type="text" class="form-control" id="relationconcat" placeholder='CONCAT(fullname, " (email) : ", email)' >
                            </div>
                        </div>

                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" id="modal-add" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_setting" tabindex="-1" aria-labelledby="modal_setting" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_setting_label">Setting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i> </button>
            </div>
            <div class="modal-body">
                <form id="modal-setting-form" method="post" action="/<%- routeName%>/save_setting">
                    <div id="body_content"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger text-white" id="delete_field"  type="button"><i class="fa fa-trash"></i> Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" id="modal-setting-save" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Save</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal_tab" tabindex="-1" aria-labelledby="modal_setting" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_setting_label">Tab</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i> </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" id="edittab" class="form-control">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" id="modal-tab-save" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-file" tabindex="-1" aria-labelledby="add_table" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import zfield File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i> </button>
            </div>
            <div class="modal-body">
                <form id="modal-form-file" method="post" action="/zgenerator/import">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group">
                        <label for="table">File</label>
                        <input type="file" class="form-control" id="import-file" name="import-file" required/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="submit" id="submit-import" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_container" tabindex="-1" aria-labelledby="add_container" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Container</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i> </button>
            </div>
            <div class="modal-body">
                <form >
                    <div class="form-group">
                        <label for="route">Column</label>
                        <select class="form-control form-select" id="column-count">
                            <option value="1">1</option>
                            <option value="2" selected>2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-modal-container-close" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" id="modal-container-save" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal insert data into container --->
<div class="modal fade" id="modal_container_into" tabindex="-1" aria-labelledby="modal_container_into" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Move <span class="badge badge-danger">fields </span>  into container</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i> </button>
            </div>
            <div class="modal-body">
                <form >
                    <div class="form-group">
                        <label for="route">Into Container</label>
                        <select class="form-control form-select" id="container-select">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btncontainer-close" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" id="moveintocontainer" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Move</button>
            </div>
        </div>
    </div>
</div>
