<div class="">
    <div class="page-header"><h1>Roles</h1></div>
    <div class="card panel panel-info boxy">
        <div class="panel-heading">
            <div class="float-end">
                <div class="summary">
                    <% if(levels.delete) {%>
                      <span
                              class="icon-small icons-danger" title="Delete role" onclick="deleterole()"><img class="icons-bg-white icon-image"
                                                                                                              src="/assets/icons/trash.svg"></span>
                    <%}%>
                        <% if(levels.update) {%>
                    <span class="icon-small icons-primary" data-bs-toggle="modal"
                                           data-bs-target="#renameModal" title="rename"><img
                                class="icons-bg-white icon-image" src="/assets/icons/edit.svg"></span>
                        <%}%>
                        <% if(levels.create) {%>
                        <span
                            class="icon-small icons-success" title="Add a new role" data-bs-toggle="modal"
                            data-bs-target="#addModal"><img class="icons-bg-white icon-image"
                                                            src="/assets/icons/plus.svg"></span>
                        <%}%>


                </div>
            </div>
            <h3 class="panel-title"><i class="fa fa-cog"></i> Settings</h3>
            <div class="clearfix"></div>
        </div>
        <div class="kv-panel-before">
            <div class="row">
                <form id="role-form" class="form-horizontal kv-form-horizontal" method="post"><input type="hidden"
                                                                                                     name="_csrf"
                                                                                                     value="<%- csrfToken %>">
                    <div class="form-group field-role-role_name"><label class="control-label col-md-2"
                                                                        for="role-role_name">Role Name</label>
                        <div class="col-md-10"><select id="roleName" class="form-control form-select mb-3" name="name">
                                <% for(var i = 0;i < results.length;i++){ %>
                                    <option value="<%- results[i].id %>"
                                    <% if(id == results[i].id){ %> selected=""
                                            <% } %>
                                    ><%- results[i].name %></option>
                                <% } %>
                            </select></div>
                    </div>
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <% for(var i = 0;i < actions.length;i++) { %>
                                <th><%= actions[i] %> <input onclick='checkthis("<%= actions[i] %>")' type="checkbox"
                                                             id="all<%= actions[i] %>"></th>
                            <% } %>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0;i < routes.length;i++) { %>
                            <tr>
                                <td>
                                    <% var ename = routes[i] %>
                                    <%= ename %></td>
                                <% for(var x = 0;x < actions.length;x++) { %>
                                    <td><input name="params[<%= ename %>][<%= actions[x] %>]" class="<%= actions[x] %>"
                                        <% if(json && json.hasOwnProperty(ename) && json[ename].indexOf(actions[x]) >= 0) { %> <%= 'checked="checked"' %>
                                                <% } %>
                                               title="Role for <%= routes[i] %> <%= actions[x] %>" type="checkbox"></td>
                                <% } %>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <% if(levels.update) {%>
                            <button type="submit" class="btn btn-primary">Update</button>
                            <%}%>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- Modal -->
<div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Rename title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"><input type="text" class="form-control" id="rename" name="rename"
                                           value="<%- model[0].name %>"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-update">Save changes</button>
            </div>
        </div>
    </div>
</div><!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Add a New Role</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3"><label for="ruas_sk">Role Name</label> <input type="text"
                                                                                           class="form-control"
                                                                                           id="role_name"
                                                                                           name="role_name"
                                                                                           placeholder="Role Name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-add">Save changes</button>
            </div>
        </div>
    </div>
</div>


